* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(24, 24, 24);
	min-height: 100vw;
	font-family: "Times New Roman", Times, serif;
}

h1 {
	margin: 3rem;
	text-align: center;
	margin-bottom: 0.5rem;
	border: ridge blueviolet;
	padding: 0.5rem;
	color: beige;
	outline: 1px double gold;
	outline-offset: -6px;
}

h2 {
	margin: 2rem;
	margin-top: 0.5rem;
	/* color: black; */
	color: antiquewhite;
}

p {
	text-indent: 2em;
	line-height: 1.5;
	margin: 1rem;
	color: rgba(245, 245, 245, 0.9);
	font-size: 1.1rem;
}

.circle {
	line-height: 100px;
	vertical-align: middle;
	text-align: center;
	margin: 3rem auto;
	border-radius: 50px;
	background-color: aquamarine;
	width: 100px;
	height: 100px;
	border: 2px solid seashell;
}
