html {
	scroll-behavior: smooth;
}

body {
	background-color: rgb(205, 249, 205);
	/* background-color: lightgreen; */
	font-family: "Times New Roman", Times, serif;
	line-height: 1.5;
	margin: 0;
}

h1 {
	margin: 0;
	padding: 8vh 0;
	font-size: 4rem;
	text-align: center;
	text-transform: uppercase;
	background-image: url(./h1_background.jpg);
	background-color: rgba(255, 255, 255, 0.385);
	background-blend-mode: lighten;
	/* color: rgb(0, 65, 0); */
	/* display: block; */
	/* vertical-align: middle; */
}

h2 {
	/* background-color: rgba(137, 43, 226, 0.564); */
	/* background-color: rgba(255, 217, 0, 0.267); */
	/* position: sticky; */
	/* top: calc(40px + 1rem); */
	text-indent: 1rem;
	font-size: 2rem;
	border-bottom: 1px #e46 solid;
	/* border-radius: 0.7rem; */
	/* color: rgb(0, 65, 0); */
}

article {
	padding: 2rem 0 0 1rem;
	margin: 0 1rem;
}

p {
	padding: 0rem 2rem;
	text-indent: 2rem;
}

.block {
	width: 200px;
	height: 200px;
	padding: 1rem;
	background-color: aliceblue;
	color: darkmagenta;
	margin-bottom: 1rem;
}

.left {
	float: left;
	margin-right: 1rem;
}

.right {
	float: right;
	margin-left: 1rem;
}

hr {
	background-color: darkgreen;
	height: 2px;
	border: 0px;
}

nav {
	top: 0;
	left: 0;
	right: 0;
	font-size: 1.1rem;
	background-color: rgb(75, 58, 91);
	text-align: center;
	position: fixed;
	z-index: 1;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	padding: 0;
	display: inline-block;
	margin-inline: 1rem;
	position: relative;
}

.dropdown-content {
	position: absolute;
	top: 100%;
	display: none;
	left: 50%;
	transform: translateX(-50%);
	/* background-color: darkslategray; */
	background-color: rgb(52, 40, 63);
	opacity: 0.9;
	border: 1px solid khaki;
	padding: 0;
	z-index: 2;
	text-align: center;
}

nav li a {
	display: inline-block;
	padding: 0.8rem;
	color: gold;
	text-decoration: none;
}

nav a:hover,
nav a:focus {
	background-color: blueviolet;
	/* color: rgb(51, 40, 61); */
	cursor: pointer;
}

nav li:hover .dropdown-content,
nav li:focus-within .dropdown-content {
	display: block;
}

.dropdown-content li {
	display: block;
	border-bottom: 1px ridge khaki;
	margin: 0 auto;
}

.dropdown-content li a {
	display: block;
}

.dropdown-content li:last-child {
	border-bottom: none;
}

img {
	display: block;
	padding: 0;
	margin: 2rem auto;
	border: 1px ridge darkgreen;
}

.columns {
	columns: 2;
	column-gap: 3rem;
	column-width: 300px;
}

.columns h2 {
	column-span: all;
}

.columns p {
	margin-top: 0;
}
/* 
#cellimg {
    display: block;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 25px;
    height: 80px;
    width: 80px;
}

#cell {
    display: block;
    padding: 0;
    padding-top: auto;
    border: 0;
}

#cellli {
    display: inline-block;
    padding-bottom: 0;
    margin-bottom: 0;
    border: 0;
} */

main {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: 2fr 7fr;
	grid-auto-flow: dense;
	padding: 1rem;
	grid-column: span 2;
	overflow: visible;
}

#tableOfContents {
	/* text-align: center; */
	padding: 0.5rem;
	/* border-radius: 5px; */
	/* background-color: rgba(240, 248, 255, 0.423); */
	height: 70vh;
	position: sticky;
	top: 13vh;
	font-size: 1.1rem;
	/* margin-top: 100vh; */
	/* border-right: 3px gray ridge; */
	text-transform: uppercase;
	margin: 0 2vw;
}

#tableOfContents ul {
	padding-left: 0;
}

#tableOfContents li {
	/* padding: 0.25rem; */
	list-style-type: none;
	/* border-bottom: 1px gray solid; */
}

#tableOfContents a {
	display: block;
	padding: 0.5rem;
	text-decoration: none;
	color: rgb(0, 65, 0);
	border-bottom: 1px gray solid;
}

#tableOfContents a:hover {
	background-color: blueviolet;
	/* background-color: #ccb8ed; */
	color: gold;
}

.pageContent {
	margin: 0 4vw 0 0;
	background-color: #e7d9ea;
	border-radius: 10px;
	padding: 0 2vw;
	box-shadow: 0 0 5px black;
}

footer {
	padding: 2rem;
	height: 40vh;
	/* display: block; */
	background-color: rgb(75, 58, 91);
}

footer a {
	/* margin-left: 2vw; */
	text-decoration: none;
	color: blue;
	background-color: lightgrey;
	border-radius: 8px;
	padding: 1rem;
}

footer a:hover {
	/* color: aliceblue; */
	background-color: lightblue;
}
